<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="post" data-aos="zoom-in-left">
        <div class="painting lt block2">
            <img src= <%= post.painting %> class="art">
            <p id="p-name"><%= post.title %></p>
            <div class="price">
                <del>
                  <span class="amount">₹6,500</span>
                </del>
                <ins>
                  <span class="amount">₹<%= post.basePrice %></span>
                </ins>
            </div>
        
            <div class="like-comm-section">
                <div class="lc-section">
                    <span><i class="fas fa-heart"></i></span>
                </div>
                <div class="lc-section">
                    <span><i class="far fa-comment"></i></span>
                </div>
            </div>
        </div>
        <div class="blog rt block2">
            <p class="blog-para"> 
                <%= post.description %>
            </p>
            <div class="sell-section">
                <a href="/buy/<%= post.id %>" class="btn btn-lg btn-primary">Wanna Buy?</a>
                <!-- <button class="btn btn-primary btn-lg" onclick=myFunc()>Wanna Buy?</button> -->
                
            </div>
        </div>
    </div>
</body>
</html>