<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    
    <link rel="icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/photo-6/500/142-512.png">

    <link rel="stylesheet" href="/css/profile.css">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&&family=KoHo:wght@500&&family=Josefin+Slab:wght@500&display=swap" rel="stylesheet">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="css/feed.css">
    
</head>
<body>
    

    <div id="scroller">
        <marquee width="70%" direction="left" height="100px" id="scroller-text">
            What are you waiting for..? Buy some tremmendous piece of artworks
        </marquee>
            
    </div>
    <div class="left block">
        <div class="profile-container">
            <img src="/images/profile1.png" class="profile-image">
        </div>
        <h3 class="profile-name"><%= artist.name %></h3>
        <div class="posts count">
            <%= posts.length %>
            <br>
            <h4>Posts</h4>
        </div>
        <div class="follwers count">
            <!-- 500
            <br>
            <h4>Followers</h4> -->
            <p>Follower <strong class="mx-2">
                <%= artist.followers.length %>
            </strong></p>
            <p>Following <strong class="mx-2">
                <%= artist.following.length %>
            </strong> </p>
        </div>
        <br>
        <div class="f button">
            <!-- <button type="button" class="btn btn-primary">Follow</button> -->.
            <% if(artist.followers.includes(otherUser._id)) { %>
                <div class="new_blog mt-4">
                    <a type="button" class="btn btn-secondary" onclick="follow_func(event)"
                        data-post-id="<%= artist._id %>" id="follow_btn"> Unfollow </a>
                </div>
            <% } else { %>
                <div class="new_blog mt-4">
                    <a type="button" class="btn btn-secondary" onclick="follow_func(event)"
                        data-post-id="<%= artist._id %>" id="follow_btn"> Follow </a>
                </div>
            <% } %>

        </div>
        <div class="m button">
            <button type="button" class="btn btn-dark">Message</button>
        </div>
    </div>

    <div class="right block">
        <h1 class="gallery">Your Paintings...</h1>
        <% for(post of posts){ %>
            <div class="post" data-aos="zoom-in-left">
                <div class="painting lt block2">
                    <img src= "<%= '../'+post.painting %>" class="art">
                    <p id="p-name"><%= post.title %></p>
                    <div class="price">
                        <del>
                          <span class="amount">₹6,500</span>
                        </del>
                        <ins>
                          <span class="amount">₹<%= post.basePrice %></span>
                        </ins>
                    </div>
                
                    <div class="like-comm-section">
                        <div class="lc-section">
                            <span><i class="fas fa-heart"></i></span>
                        </div>
                        <div class="lc-section">
                            <span><i class="far fa-comment"></i></span>
                        </div>
                    </div>
                </div>
                <div class="blog rt block2">
                    <p class="blog-para"> 
                        <%= post.description %>
                    </p>
                    <% if(post.bidded == true && post.sold == true){ %>
                        <div class="sell-section">
                            <a href="" class="btn btn-lg btn-primary">SOLD</a>
                            <!-- <button class="btn btn-primary btn-lg" onclick=myFunc()>Wanna Buy?</button> -->
                        </div>
                        <% } else if(post.bidded == true) { %>
                            
                            <div class="sell-section">
                                <a href="" class="btn btn-lg btn-primary">Unsold, Auction Completed!</a>
                                <!-- <button class="btn btn-primary btn-lg" onclick=myFunc()>Wanna Buy?</button> -->
                            </div>
                        <% } else { %>
                            <div class="sell-section">
                                <a href="/painting1/<%= post.id %>" class="btn btn-lg btn-primary">Buy</a>
                                <!-- <button class="btn btn-primary btn-lg" onclick=myFunc()>Wanna Buy?</button> -->
                            </div>
                        <% } %>
                </div>
            </div>
        <% } %>
        
    </div>
    <script>AOS.init();</script>
    <script>
    // $(document).ready(function(){
    //     $('body,html').animate({scrollTop: 2800}, 12000);
    // });

    // function confirmFunc(){
    //     var result = confirm("Are you sure you want to bid on this painting?");
    //     if(result){

    //         window.location.href = "/buy/post.id";
    //     }
    // }

    // function myFunc(){
    //     return window.location.href = '/buy/<%= post.id %>'
    // }


    // follow follower section
    const follow = document.getElementById('follow_btn');

            const follow_func = async (e) => {

                e.preventDefault();

                var toggleButtonText = {
                    Follow: function (button) {
                        button.textContent = "Unfollow";
                    },
                    Unfollow: function (button) {
                        button.textContent = "Follow";
                    }
                };

                var postId = event.target.dataset.postId;

                var action = event.target.textContent.trim();
                // console.log(action)
                toggleButtonText[action](event.target);

                try {
                    const followUser = await fetch(`/follow/${postId}` , {
                        method: 'PUT',
                        headers: {
                            "Content-Type": "application/json"
                        }
                    });

                    const url = await followUser.url
                    // console.log(data.status)

                    location.reload(url);

                }
                catch (err) {
                    console.log(err)
                }
            };

</script>
</body>
</html>